accelerate>=0.16.0
torchvision
transformers>=4.25.1
datasets
ftfy
tensorboard
Jinja2
peft==0.7.0
diffusers
pytorch_lightning
omegaconf
einops
xatlas
trimesh
opencv-python
git+https://github.com/NVlabs/nvdiffrast/
imageio
rembg
Ninja